
<!-- Template -->


<!-- property binding -->

{{title}}

<!-- event binding  -->
<button (click)="onClick()">Click Me</button>

<!-- elementin datayı sadece data olduğu durumda göstermek için kullandık -->
<ul *ngIf="data">
  <!-- data içerisibde dön ve ekranı çokla -->
  <!-- *ngFor directive kullandık -->
  <li *ngFor="let item of data">
    {{item.title}}
  </li>
</ul>



<!-- yönlendirme linkleri -->
<!-- angular projesinde sayfalar arası yönlendirme kuralı uyguluyorum -->
<ul>
  <li>
    <a routerLink="home">Home Page</a>
  </li>
  <li>
    <a routerLink="about">About Page</a>
  </li>
  <li>
    <a routerLink="todos">Todo Page</a>
  </li>
</ul>

<!-- router-outlet -->
<!-- bu directive sayesinde sayfalar arasında bir yönlendirme yaparken html doma ilgili componentler girip çıkıyor. -->
<router-outlet></router-outlet>
